@import 'abstract/functions';
@import 'abstract/mixin';
@import 'abstract/variables';

@import 'base/animations';
@import 'base/base';
@import 'base/typography';
@import 'base/utilities';

@import 'components/bg-video';
@import 'components/button';
@import 'components/card';
@import 'components/composition';
@import 'components/feature-box';
@import 'components/form';
@import 'components/popup';
@import 'components/story';

@import 'layout/footer';
@import 'layout/grid';
@import 'layout/header';
@import 'layout/navigation';

@import 'pages/home';















// .row {
//     max-width: $max-width;
//     background-color: #fff;
//     margin: 0 auto;

//     &:not(:last-child) {
//         margin-bottom: $gutter-horizontal;
//     }

//     @include clearfix();

//     [class^="col-"] {
//         position: relative;
//         color: black;
//         background-color: #eee;
//         float: left;

//         &:not(:last-child) {
//             margin-right: $gutter-horizontal;
//         }
//     }

//     // .heading {
//     //     margin-top: 40px;
//     //     text-align: center;
//     //     color: green;
//     //     font-size: 40px;
//     //     font-weight: bold;
//     //     letter-spacing: 1px;
//     // }

//     // .contextbox {
//     //     margin-top: 60px;
//     //     width: 100%;
//     //     height: 350px;
//     //     background-color: transparent;

//     //     &-headingmain {
//     //         margin-top: 30px;
//     //         font-weight: normal;
//     //     }

//     //     &-para {
//     //         margin-top: 10px;
//     //         color: gray;
//     //     }

//     //     &-btn {
//     //         align-items: center;
//     //         font-size: 1.3rem;
//     //         color: green;
//     //         padding: 5px;
//     //         border-bottom: 1px solid green;
//     //         text-decoration: none;
//     //         transition: all 0.3s;

//     //         &:hover {
//     //             background-color: green;
//     //             color: white;
//     //             box-shadow: 1px 5px 30px 1px grey;
//     //             margin-bottom: 5px;
//     //         }
//     //     }
//     // }

//     // .img1 {
//     //     height: 190px;
//     //     position: absolute;
//     //     width: 45%;
//     //     height: 190px;
//     //     top: 50px;
//     //     left: 10%;
//     //     transition: all 0.3s;
//     //     box-shadow: 1px 1px 30px 5px grey;
//     //     background-position: center;
//     //     border-radius: 10px;

//     //     &:hover {
//     //         transform: scale(1.3);
//     //         z-index: 1;
//     //         outline-style: solid;
//     //         outline-width: 0.9rem;
//     //         outline-color: green;
//     //         padding: 1rem;
//     //     }
//     // }


//     // .img2 {
//     //     position: absolute;
//     //     width: 48%;
//     //     height: 190px;
//     //     top: 90px;
//     //     left: 45%;
//     //     transition: all 0.3s;
//     //     box-shadow: 1px 1px 30px 5px grey;
//     //     border-radius: 5px;
//     //     &:hover {
//     //         transform: scale(1.3);
//     //         z-index: 1;
//     //         outline-style: solid;
//     //         outline-width: 0.9rem;
//     //         outline-color: green;
//     //         padding: 1rem;
//     //     }

//     // }

//     // .img3 {
//     //     position: absolute;
//     //     width: 48%;
//     //     height: 190px;
//     //     top: 160px;
//     //     left: 25%;
//     //     transition: all 0.3s;
//     //     box-shadow: 1px 1px 30px 5px grey;
//     //     border-radius: 10px;

//     //     &:hover {
//     //         transform: scale(1.3);
//     //         z-index: 1;
//     //         outline-style: solid;
//     //         outline-width: 0.9rem;
//     //         outline-color: green;
//     //         padding: 1rem;

//     //     }

//     // }








//     //     .col-1-of-2 {
//     //         position: relative;
//     //         width:calc((100% - #{$gutter-horizontal}) / 2);
//     //     }

//     //     .col-1-of-3 {
//     //         position: relative;
//     //         width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
//     //     }

//     //     .col-1-of-4 {
//     //         position: relative;
//     //         width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
//     //     }

//     //     .col-2-of-4 {
//     //         position: relative;
//     //         width:calc(2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal});
//     //     }

//     //     .col-2-of-3 {
//     //         position: relative;
//     //         width:calc(2 *((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
//     //     }

//     //     .img1 {
//     //         position: absolute;
//     //         width: 100%;
//     //         height: 100%
//     //     }

//     //     .overlay {
//     //         position: absolute;
//     //         bottom: 100%;
//     //         left: 0;
//     //         right: 0;
//     //         background-color: rgba(0,0,0,0.5);
//     //         overflow: hidden;
//     //         width: 100%;
//     //         height: 0%;
//     //         transition: .5s ease;
//     //     }

//     //     .img1:hover + .overlay {
//     //         bottom: 0%;
//     //         height: 100%;
//     //     }

//     //     .overlay:hover {
//     //         bottom: 0%;
//     //         height: 100%;
//     //     }

//     //     .icon {
//     //         color: white;
//     //         font-size: 40px;
//     //         position: absolute;
//     //         top: 50%;
//     //         left: 50%;
//     //         transform: translate(-50%,-50%);
//     //         text-align: center;
//     //     }
//     //     a{
//     //         color: #fff;
//     //         text-decoration: none;
//     //     }

//     //     [class^="fa"]{
//     //         font-size: 35px;
//     //         padding: 0 7px;
//     //         transition: .5s ease;
//     //     }
//     //     [class^="fa"]:hover{
//     //         color: #9c47fc;
//     //         background: -webkit-linear-gradient(#9c47fc,#356ad2);
//     //         -webkit-background-clip:text;
//     //         -webkit-text-fill-color:transparent;
//     //         transform: scale(1.4);
//     //     }


//     // }



//     // @media(max-width: 768px) {
//     //     [class^="col-"] {
//     //         margin-top: 10px;
//     //         max-width: 100%;
//     //         width: 98%;
//     //     }

//     //     .row {
//     //         margin-bottom: 0 !important;
//     //     }
//     // }

//     // @media(max-width: 480px) {
//     //     [class^="col-"] {
//     //         max-width: 100%;
//     //         width: 100%;
//     //     }

//     // 
// }