.btn {

    &:link,
    &:visited, &{
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        position: relative;
        font-size: 1.6rem;
        background-color: $color-white;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

        &:hover::after {
            transform: scale(1.1) scale(1.6);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 5rem 1rem rgba(0, 0, 0, 0.2);
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }

    &-white {
        background-color: $color-white;
        color: $color-gray-dark;

        &::after {
            background-color: $color-white;
        }
    }

    &:hover::after {
        transform: scale(1.4) scaleY(1.0);
        opacity: 0;
    }

    &-animated {
        animation: moveInBottom 0.5s ease-out 0.75s;
        animation-fill-mode: backwards;
    }

    &-green{
        background-color: $color-primary-dark !important;
        color: $color-white;
        &::after {
            background-color: $color-primary-dark;
        }
    }
    

}

.btn-text {

    &:link,
    &:visited {
        font-size: 1.6rem;
        color: $color-primary-dark;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary-dark;
        padding: .3rem;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary-dark;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, 15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }



    
}