.composition {
    position: relative;

    &__photo {
        position: absolute;
        width: 55%;
        box-shadow: 0 0.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        transition: all 0.3s;

        @include respond(tablet-port) {
            float: left;
            position: relative;
            width: 33.33333%;
            box-shadow: 0 1.5rem 3rem rgba($color-black, .2);
        }

        &-p1 {
            left: 0;
            top: -2rem;
            @include respond(tablet-port){
                top: 0;
                transform: scale(1.5);
            }
        }

        &-p2 {
            right: 0;
            top: 2rem;
            @include respond(tablet-port){
                top: -1rem;
                transform: scale(1.2);
                z-index: 100;
            }
   
        }

        &-p3 {
            left: 20%;
            top: 10rem;
            @include respond(tablet-port){
                top: 0;
                left: 0;
                transform: scale(1.5);
            }

        }

        &:hover {
            outline-offset: 2rem;
            outline: 1.5rem solid $color-primary-dark;
            transform: scale(1.01) translateY(-5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20;
        }

        &:hover &__photo:not(:hover) {
            transform: scale(.95);
        }

    }
}